<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Asfour Store - Account Verification Code Page</title>
        <style>
            *{
                padding: 0;
                margin: 0;
                text-align: center;
            }
            h1{
                font-size: 40px;
                margin-bottom: 20px;
            }
            h2{
                font-size: 30px;
                margin-bottom: 20px;
            }
            h3{
                font-size: 25px;
            }
        </style>
    </head>
    <body>
        <h1>Welcome To Babel Coins</h1>
        <h2>Account Verification Code</h2>
        <h3>Your Code Is: <%= generatedCode %></h3>
    </body>
</html>